@model IEnumerable<ChatApp.DAL.Entities.AppUser>

@foreach (var user in Model)
{
    <div class="container">
        <div class="align-content-xl-center">
            <a class="room-button" asp-controller="Home" asp-action="CreatePrivateRoom"

               asp-route-userId="@user.Id">@user.UserName</a>
        </div>
    </div>
}